body{
     font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        color: #575757;
        }

*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 2%;
    
}
p{
    font-size: 22px;
    margin-bottom: 2%;
}

span{
    color: #fc733e;
}
/* Heading start */
#heading-section{

}
.heading-mother{
    display: flex;
}
.heading-text p{
    margin-top: 5%;
}
.heading-text a{
    text-decoration: none;
        display: inline-block;
        margin-top:5%;
        background: rgb(252, 115, 62);
        color: white;
        font-size: 25px;
        font-weight: 600;
        padding: 15px 45px;
        border-radius: 14px;
        word-spacing: 5px;
        letter-spacing: 1.1px;

}
.heading-text{
    margin-top: 35%;
    margin-left: 10%;

}
.heading-child{
    width: 50%;
}
.heading-photo img{
    width: 100%;
    background-image: url(images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
    background-size:800px;
    background-position:bottom;
    margin-right:10% ;
}
/* Heading end */
/* Banner-start */
#banner-section{
background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
background-size: cover;
padding-top:5%;
margin-top: 10%;
}
#mother-banner{
display: flex;
text-align: center;
}
.child-banner{
width: 50%;
}
.banner-img img{
    width:50%;
}
.banner-text{
    text-align: left;
    margin-top:10%;
}
.banner-text p{
    margin-top: 5%;
}
.banner-text a{
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    background: rgb(252, 115, 62);
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 45px;
    border-radius: 14px;
    word-spacing: 5px;
    letter-spacing: 1.1px;
    margin-top:5%;
}
/* Banner-End */

/* Recipes-start */
#item-section{
    text-align: center;
    margin-top: 5%;
}
.main-item{
    display: flex;
    margin-top: 5%;
}
.item-img{
    width: 50%;
}
.item-img img{
    width: 80%;
    height: 80%;
    border: 10px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgb(214, 204, 204);
    padding: 5% 5%;
}
/* Recipes-end */
/* Account start */
#account-section{
    box-shadow: 0px 0px 40px 0px gray;
    margin-top: 5%;
    padding: 50px 20px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.mother-account{
    display: flex;
}
.child{
    text-align: center;
    width: 33%;
}
.child h1 p{
    margin: 10px 0;
}
/* Account end */
/* Footer-start */
footer{
    margin-top: 10%;
    text-align: center;
    background-color: #575757;
    color: gray;
    padding: 100px 0;
}
footer p{
    color: white;
}
/* Footer-end */